.review-content {
  --background: #f2f6ff;
}

/* Sections */
.section {
  padding: 16px;
}

.title {
  font-weight: 700;
  font-size: 22px;
}

.subtitle {
  font-size: 14px;
  color: #666;
}

/* PLAN BOX */
.plan-box {
  background: #ffffff;
  margin: 10px 12px;
  padding: 14px;
  border-radius: 14px;
}

.plan-header {
  font-weight: 700;
  margin-bottom: 12px;
}

/* Plan options */
.plan-option {
  display: flex;
  align-items: center;
  padding: 12px 10px;
  --inner-padding-end: 0;
  --padding-start: 0;
  position: relative;
}

ion-item.plan-option {
  --background: #ffffff;
}

.plan-title {
  font-weight: 600;
  font-size: 14px;
}

.plan-sub {
  font-size: 11px;
  color: #888;
}

.best-value {
  background: #4db7ff;
  color: white;
  padding: 2px 8px;
  border-radius: 8px;
  font-size: 10px;
  margin-left: auto;
}

.divider {
  height: 1px;
  background: #eaeaea;
  margin-left: 50px; 
}


/* PAYMENT METHOD */
.pay-header {
  display: flex;
  justify-content: space-between;
  padding: 0 4px 8px;
}

.change {
  color: #4a8cff;
  font-size: 13px;
}

.payment-box {
  background: #fff;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 14px;
}

.pm-icon {
  font-size: 22px;
}

.pm-info .pm-title {
  font-weight: 600;
}

.pm-sub {
  font-size: 13px;
  color: #777;
}

.pm-price {
  margin-left: auto;
  font-weight: 600;
}

/* AUTO RENEW */
.renew-section {
  display: flex;
  gap: 10px;
  padding: 12px 16px;
}

.renew-text {
  font-size: 13px;
  color: #666;
}

/* TOTAL BOX */
.total-box {
  background: white;
  padding: 16px;
  margin: 12px;
  border-radius: 14px;
}

.total-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.total-label {
  font-size: 14px;
}

.total-amount {
  font-weight: 700;
}

/* BUTTON */
.confirm-btn {
  --background: #f7c94c;
  --color: #000;
  font-weight: 600;
  border-radius: 10px;
}


.total-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  padding: 12px 16px 20px 16px;
  box-shadow: 0 -2px 8px rgba(0,0,0,0.05);
  z-index: 10;
}

.total-box {
  border-radius: 12px;
  background: #fff;
}

.confirm-btn {
  --background: #f9cf57;
  --background-activated: #e0b74c;
  --border-radius: 12px;
  margin-top: 10px;
}
