<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title>Account</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <!-- USER SECTION -->
  <div class="user-section ion-padding">
    <h2 class="username">Username</h2>
    <p class="view-profile">View Profile</p>

    <ion-card class="promo-card">
      <ion-card-content>

        <div class="promo-text">
          <h3>Save on your future loads with BubblePass by Laundria!</h3>
          <p class="learn">Learn more <ion-icon name="chevron-forward-outline"></ion-icon></p>
        </div>

        <img src="assets/img/bubblepass.png" class="promo-img" />
      </ion-card-content>
    </ion-card>

    <div class="quick-actions">

      <div class="action-card">
        <img src="assets/img/ordersbutton.png">
      </div>

      <div class="action-card">
        <img src="assets/img/paymentmethodbutton.png">
      </div>

      <div class="action-card">
        <img src="assets/img/addressbutton.png">
      </div>

    </div>

  </div> 

  <!-- SPECIAL CARE SECTION -->
  <div class="special-section">
    <ion-list>
      <ion-list-header>
        <h2>Special Care for You</h2>
      </ion-list-header>

      <ion-item detail>
        <img src="assets/img/crownbubblepass.png" slot="start" class="special-icon crown-icon">
        <ion-label>Try BubblePass</ion-label>
      </ion-item>

      <ion-item detail>
        <img src="assets/img/voucher.png" slot="start" class="special-icon voucher-icon">
        <ion-label>Vouchers</ion-label>
      </ion-item>
    </ion-list>
  </div>


</ion-content>
