/* USER SECTION */
.user-section {
  background: #ffffff;
  border-bottom: 1px solid #d6d6d6;
  padding: 16px;
}

/* Username + View Profile */
.username {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 2px;
}

.view-profile {
  font-size: 13px;
  color: #7b7b7b;
  margin-top: 0;
}

/* PROMO CARD */
.promo-card {
  border-radius: 18px;
  margin-top: 12px;
  padding: 0;
  height: 120px;                 
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  width: 100%;           
  margin-left: 0;         
  margin-right: 0;
}

/* Gradient Background */
.promo-card {
  background: linear-gradient(
    90deg,
    rgba(35,151,191,1) 0%,
    rgba(18,122,157,0) 100%
  );
}

/* CONTENT INSIDE CARD */
ion-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 16px;           
  width: 100%;
}

/* LEFT SIDE TEXT */
.promo-text {
  max-width: 80%;                
}

.promo-text h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;               
  color: white;
  line-height: 1.2;
  margin: 0;
}

.promo-text .learn {
  font-size: 12px;
  color: #fff;
  margin-top: 6px;
}

/* RIGHT SIDE IMAGE */
.promo-img {
  width: 100px;                  
  height: auto;
  margin-left: 10px;
}

/* QUICK ACTIONS SECTION */
.quick-actions {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;   
  padding: 0 4px; 
}

.action-card {
  width: 110px;
  height: 110px;
  cursor: pointer;
}

.action-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* SPECIAL CARE SECTION */
.special-icon {
  width: 22px;
  height: 22px;
  object-fit: contain;
  margin-right: 10px;
}

.special-section {
  background: #ffffff;   
  padding: 12px 0;             
}


/* BUBBLEPASS SECTION */
.bubblepass-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: linear-gradient(#1fa2ff, #a6d9ee);
  padding: 20px;
  color: #fff;
  overflow-y: auto;
}

.back-btn {
  color: white;
  margin-top: 10px;
}

.perk-card {
  background: #1e90be;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

.perk-icon {
  width: 40px;
  margin-right: 15px;
}

.plan-box {
  background: #fff;
  color: #000;
  margin-top: 40px;
  padding: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  text-align: center;
}

.select-btn {
  --background: #f7d674;
  --color: #000;
  font-weight: 600;
  border-radius: 12px;
}

.bubblepass-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e5f6ff;
  overflow-y: auto;
  padding: 20px;
  z-index: 9999;  /* ALWAYS ON TOP */
}

