#main-content{
  margin: 0;
  padding: 0;
  padding-bottom: 100px; /* Add padding to prevent content from being hidden behind tabs */
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.header h1{
  font-weight:bolder;
}

.distance{
  display: flex;
  padding: 0 25px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-top: 50px
}

.services img {
  object-fit: contain;
  transition: transform 0.2s;
}

.services img.small {
  width: 100px;
  height: 100px;
}

.services img.large {
  width: 80px;
  height: 80px;
}

.services img:hover {
  transform: scale(1.1);
}

@media (max-width: 400px) {
  .services img.small {
    width: 40px;
    height: 40px;
  }
  .services img.large {
    width: 60px;
    height: 60px;
  }
}

.promo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}
